<html>
   <body>
      <h1 style="text-align:center">Thanks for leaving a Review!</h1>
      <form action="{{ url_for('addReview') }}" method="POST">
         <label>Name</label>
         <br>
         <input type="text" name="Name"><br>

         <label>Rating</label>
         <br>
         <input type="number" id="name" name="Rating" min="1" max="10"><br>

         <label>Review</label>
         <br>
         <textarea name="Review"></textarea>

         <input type="submit" value="submit"><br>
      </form>
      <br>

      <a href="/">back to home</a>
   </body>
</html>
