<!DOCTYPE html>
<html>
    <body>
        <h1 style="text-align:center">Checkout!</h1>
        <h2 style="text-align:center">Today is {{day}}, so there's a {{sale}}% discount! </h2>

        <table border=1>
            <tr>
                <th>Kind</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Cost</th>
                <th>Tax</th>
            </tr>

            {% for row in rows %}
            <tr>
                <td>{{row["Kind"]}}</td>
                <td>{{row["Name"]}}</td>
                <td>{{row["Amount"]}}</td>
                <td>{{row["Cost"]}}</td>
                <td>{{row["Tax"]*100}}%</td>
            </tr>
            {% endfor %}

            <tfoot>
                <tr>
                    <th style="text-align:center" colspan="4">Subtotal:</th>
                    <td>{{totals[0]}}</td>
                </tr>

                <tr>
                    <th style="text-align:center" colspan="4">Tax:</th>
                    <td>{{totals[1]}}</td>
                </tr>

                <tr>
                    <th style="text-align:center" colspan="4">Total:</th>
                    <td>{{totals[2]}}</td>
                </tr>
            </tfoot>
        </table>
        <br>

        <form action="{{url_for('checkout')}}" method="POST">
            <input type="submit"/>
        </form>
        <br>

        <br>
        <a href="/">back to home</a>
    </body>
</html>
