<!DOCTYPE html>
<html>
    <body>
        <!-- For this page, we just have the links to the other pages the user can get to from the homepage and a welcome statement -->
        <h1 style="text-align:center"> Welcome to the Grocery Mart! </h1>
        <h2 style="text-align:center">
            <a href="Inventory.html">Look at what we have in stock!</a>
            <br>
            <a href="ShoppingCart.html">View your shopping cart!</a>
            <br>
            <a href="Checkout.html">Check Out!</a>
            <br>
            <a href="Receipt.html">Look at your receipt!</a>
            <br>
            <a href="ShowReviews.html">See what people have to say about our store!</a>
            <br>
            <a href="addReview.html">Leave a Review! You might get picked for a giveaway!</a>
        </h2>
    </body>
</html>
