<!DOCTYPE html>
<html>
    <body>
        <h1 style="text-align:center">Our Inventory!</h1>
        <br>
        <div style="text-align:center">
            <a href="Produce.html">Click here to see our Produce Department</a>
            <br>
            <a href="Household.html">Click here to see our Household Goods</a>
            <br>
            <a href="Electronics.html">Click here to see our Electronics Department</a>
            <br>
            <a href="Seafood.html">Click here to see our Seafood Department</a>
            <br>
            <a href="TotalInventory.html">Click here to see our full inventory</a>
        </div>
        <br>

        <a href="ShoppingCart.html">Click here to review your cart</a>
        <br>
        <a href="/">Click here to go back to home</a>
    </body>
</html>
