<html>
    <body>
        <h1 style="text-align:center">Here are things we hope to add soon!</h1>

        <table border = 1>
            <tr>
                <th>Name</th>
                <th>Kind</th>
            </tr>

            {% for row in rows %}
            <tr>
                <td>{{row["Name"]}}</td>
                <td>{{row["Kind"]}}</td>
            </tr>
            {% endfor %}
        </table>
        <br>

        <a href="AddReview.html">Click here if you want to leave a review!</a>
        <br>
        <a href="/">back to home</a>
    </body>
</html>
